<div [ngClass]="isSideNavOpened ? 'side-menu-opened' : 'side-menu-closed'" class="side-menu">
  <div class="px-3 py-5" style="background-color: #05334D;">
    <div class="side-menu-logo"></div>
  </div>

  <div *ngIf="items.length > 0">
    <div *ngFor="let item of items" class="w-100 px-4 d-flex align-items-center side-menu-item">
      <i class={{item.icon}}></i>
      <span class="pl-3">{{item.name}}</span>
    </div>
  </div>
</div>
<div [ngClass]="isSideNavOpened ? 'side-menu-overlay' : 'side-menu-closed'">teste</div>
