<section class="about">
  
  <div class="row m-0 align-items-md-center w-100 px-4 about-content">
    <div class="col-12 col-md-6 about-myself">
      <h2 class="d-block">
        Olá, Eu sou Felipe
      </h2>

      <h4 class="d-block mt-4 about-myself-job">
        Full-Stack developer de São Paulo
      </h4>

      <p class="d-block mt-3 about-myself-description">
        Sou desenvolvedor residente de Indaiatuba, Brasil, e sou muito apaixonado e dedicado ao meu trabalho. Com 2 anos de experiência como desenvolvedor Full-Stack profissional, adquiri as habilidades necessárias para construir softwares. <br><br>
        Sou autodidata e estou mergulhando em novas tecnologias, com entregas em aplicativos móveis híbridos desenvolvidos em Flutter. Dentre minhas habilidades tecnológicas, familiarizado com frameworks web (Angular, React), mobile (Flutter, Android), Services (NodeJS, Camel, Django Rest Framework)
      </p>

      <div class="row m-0 about-myself-btn">
        <div class="mr-4 mb-3">
          <app-force-button
            [text]="'Meu currículo'"
            (click)="downloadCV()"
          ></app-force-button>
        </div>

        <app-force-button
          [text]="'Entrar em contato'"
          (click)="onGetInTouchClick()"
        ></app-force-button>
      </div>
    </div>

    <div class="col-12 col-md-6">

    </div>
  </div>

</section>
