.home {
  position: relative;
  height: 100vh;
  z-index: 1;

  &-content {
    height: inherit;

    .social {
      color: #fafafa;
      font-family: 'DM Sans';
      position: absolute;
      top: 30%;
      
      span {
        writing-mode: vertical-lr;
        font-size: 28px;
      }

      div.hr {
        height: 34px;
        background-color: #fafafa;
        width: 1px;
      }

      i {
        display: block;
        cursor: pointer;
      }
    }

    .presentation {
      color: #fafafa;

      &-picture {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 3px solid #fafafa;
        background-image: url('../../../../../assets/images/picture.jpeg');
        background-size: cover;
      }
      
      &-name {
        font-size: 56px;
      }
      
      &-job {
        font-size: 24px;
        border-right: 2px solid rgba(255,255,255,.75);
        white-space: nowrap;
        overflow: hidden;
        color: #fafafa9e;
      }
    }
  }
}

.home-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
    background-image: url("../../../../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.anim-typewriter{
  animation: typewriter 2s steps(44) 1s 1 normal both,
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 9.5em;}
}


@media (max-width: 765px) {
  .home {
    .social {
      position: relative;
      z-index: 2;

      span {
        writing-mode: horizontal-tb;
      }

      div.hr {
        height: 0px;
      }
    }

    .presentation {
      height: 75%;

      &-name {
        font-size: 42px;
      }
    }
  }
}