<section class="home">
  <div class="row flex-column flex-md-row m-0 px-5 home-content">
    
    <div class="float-md-left order-1 order-md-0">
      <div class="social d-flex flex-column align-items-center">
        <span>Siga-me</span>
        <div class="my-3 hr"></div>
        <div class="d-flex d-md-block mb-5">
          <i class="fa-brands fa-github fa-2x pb-3 d-md-block mr-3 mr-md-0" (click)="goToLink(githubUser.html_url)"></i>
          <i class="fa-brands fa-linkedin-in fa-2x d-md-block" (click)="goToLink(linkedin)"></i>
        </div>
      </div>
    </div>
    
    <div class="col-md-12 order-0 order-md-1 d-flex flex-column justify-content-end justify-content-md-center align-items-center presentation">

      <div *ngIf="githubUser" class="mb-3 presentation-picture" [style.background-image]="'url(' + githubUser.avatar_url + ')'"></div>

      <h1 class="d-block presentation-name text-center">
        Olá, sou Felipe Goulart
      </h1>
      
      <div class="mb-5">
        <span class="d-block presentation-job anim-typewriter">
          Full-Stack Developer
        </span>
      </div>
    </div>
  </div>
</section>
<div class="home-overlay"></div>
