<div class="p-4 d-flex flex-column align-items-center force-card-exp">
    <span class="d-block force-card-exp-title">Full Stack Developer</span>
    <span class="d-block force-card-exp-subtitle">2017 - 2019 | Freelance</span>
    <hr/>
    <div class="force-card-exp-description">labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit incididunt ut labore et.  labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit incididunt ut labore et.</div>
</div>