<section class="about">
  
  <div class="row about-content">    
    
    <div class="col-5 h-100 about-picture p-0">
      <div class="h-100 about-picture-overlay"></div>
    </div>

    <div class="col-7 pl-5 about-myself">
      <span class="d-block">
        ABOUT ME
      </span>
      
      <span class="d-block pt-5">
        I am Felipe Barbosa Goulart
      </span>

      <span class="d-block pt-1 about-myself-job">
        I am a front-end developer
      </span>

      <span class="d-block pt-3 about-myself-description">
        I am a freelancer based in New York, USA, and I'm very passionate and dedicated to my work. With 7 years experience as a professional Full-Stack Web Developer, I have acquired the skills necessary to build great and premium websites. <br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      </span>

      <div class="row pt-5 about-myself-contact">
        <div class="col-6">
          <div>
            <span class="about-myself-contact-key">Nome: </span> <span>Felipe Barbosa Goulart</span>
          </div>
          <div class="py-3">
            <span class="about-myself-contact-key">Phone: </span> <span>(11) 99256-2507</span>
          </div>
          <div>
            <span class="about-myself-contact-key">Email: </span> <span>felipe.goulart1999@gmail.com</span>
          </div>
        </div>

        <div class="col-6">
          <div>
            <span class="about-myself-contact-key">Phone: </span> <span>(11) 99256-2507</span>
          </div>
          <div class="py-3">
            <span class="about-myself-contact-key">Email: </span> <span>felipe.goulart1999@gmail.com</span>
          </div>
        </div>
      </div>

      <div class="position-absolute about-myself-btn">
        <app-force-button
          [outlined]="true"
          [text]="'Download CV'"
        ></app-force-button>
      </div>
    </div>
  </div>

</section>
