.logo {
  height: 240px;
  min-width: 300px;
  width: 300px;
  background-size: cover;
  border-radius: 15%;
}

.company-name {
  font-size: 3rem;
  color: #fafafa;
}

.job {
  font-size: 1.3rem;
  color: #fafafabd;
}

.period {
  font-size: 1rem;
  color: #fafafabd;
}

.description {
  font-size: 1rem;
  color: #fafafabd;
}
