<div class="contact">
  <div class="text-center">
    <!-- <div class="row">
      <div class="col-12">
        <h2 class="contact-title">Contact Me</h2>
      </div>
    </div> -->

    <div class="row w-100 mt-5 contact-info">
      <div class="col-md-4">
        <i class="fa-solid fa-envelope fa-3x d-block mb-4"></i>
        <h6>felipe.goulart1999@gmail.com</h6>
      </div>
      <div class="col-md-4 my-5 my-md-0">
        <i class="fa-solid fa-map-location-dot fa-3x d-block mb-4"></i>
        <h6>Indaiatuba - SP</h6>
      </div>
      <div class="col-md-4">
        <i class="fa-solid fa-phone fa-3x d-block mb-4"></i>
        <h6>(11) 99256-2507</h6>
      </div>
    </div>
  </div>
</div>
