.contact {
  text-align: center;
  color: #fafafa;
  padding-top: 95px;
  padding-bottom: 95px;

  &-title {
    text-align: center;
  }

  &-info {
    padding-left: 50px;
    padding-right: 50px;
  }
}
