<div>

  <app-force-header
    (headerOptionEmitter)="navigateToPage($event)"
    [(selectedViewport)]="selectedViewport"
    [(opacityNavbar)]="opacityNavbar"
  ></app-force-header>

  <div id='Início' #Início>
    <app-home></app-home>
  </div>
  
  <section id='Sobre' #Sobre>
    <app-about
      (navigateToAnchor)="navigateToPage($event)"
    ></app-about>
  </section>

  <section id='Serviços' #Serviços>
    <app-technologies></app-technologies>
  </section>

  <section id='Currículo' #Currículo>
    <app-resume></app-resume>
  </section>

  <section id='Catálogo' #Catálogo>
    <app-catalogue></app-catalogue>
  </section>

  <section id='Contato' #Contato>
    <app-contact></app-contact>
  </section>

</div>
