.force-card {
  min-height: 225px;
  max-height: 225px;
  text-align: left;
  color: #bebebe;
  overflow: hidden;
  opacity: 0.7;
  transition: 1s;

  .Flutter {
    fill: #D0D0D0;
  }

  .Camel {
    fill: #D0D0D0;
  }
  

  &-title {
    font-size: 18px;
    font-weight: 400;
  }
  
  &-description {
    font-size: 16px;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: sans-serif;
  }
}

.force-card:hover {
  opacity: 1;
  transition: 1s;
  color: #fafafa;

  .Flutter {
    fill: #47C5FB;
  }

  .Camel {
    fill: #FF9D00;
  }
}
